body{
	background-color: maroon;
	font-size: 16px;
	font-family: 'oxygen',sans-serif;
}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border:0;
}

#logo{
	background:url('image/images.jpg') no-repeat;
	width:110px;
	height: 110px;
	margin: 15px;
}
header{
	margin-bottom: 4px;
	padding-bottom: 4px;
}

 h1{
	font-family: serif;
	color:#557c3e;
	font-size: 1.85em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-bottom: 0px;
	line-height: .75;
	
}

 a:hover, a:focus{
	text-decoration: none;
}
@media(max-width: 420px){
	h1{
		font-size: 1.35em;
	}
	li{
		font-size: 1em;
	}
	div #menu,div #specials{
		width: 250px;
		margin:0 auto 15px;
		
	}

}


@media(max-width: 650px){
	.navbar-brand img{
		display: none;
	}
	.nhu{
		font-size: 60%;
	}
	.navbar .navbar-brand{
		text-align: left;
		align-content: left;
		align-items: left;
	}
	span .Trump {
		font-size: 1.5em;
		margin:2px;
		padding: 0px;
	}
	.small{
		font-size: 1em;
	}

}

#phone div{
	color:#557c3e;
	text-align: right;
	padding-right: 15px;

}

.navbar-toggler-icon{
	outline-color: black;
}
li{
	font-size: 1.4em;
	margin-right: 10px;
	margin-left: 10px;
}
@media(max-width: 991px){
	svg{
		display: none;
	}
	 #numb{
		display: none;

	}
	.small{
	margin:2px;
	font-size: 1.3em;
	color:#f45f65;
	text-align: center;
    border:2px solid  #f6b319 ;
    box-shadow: 0 0 6px #3f0c1f;
    }
    div #menu,div #specials{
		width: 320px;
		margin:0 auto 15px;
		
	}

}
@media(min-width: 992px){
	#num{
		display: none;
	}
	.xyz{
		width: 85%;
	}
	.mr-auto{
	margin-right: 7%!important;

}

}


@media(min-width: 992px) and (max-width: 1078px){
	.nhu{
		font-size: 0.76em;
	}
	
}
h2{
	padding: 0px;
	margin: 0px;
	text-shadow: 1px 1px 1px #222;
	color:gray;
	
}
#deliever{
	text-align: right;
	color:#22ffcc;
	margin-right: 2px;
}
.navbar-nav .nav-item .nav-link{
	margin-left: 10px;
	margin-right: 10px;
	padding-right: 0px;
	padding-left: 0px;
}
.container .jumbotron{
	box-shadow: 0 0 50px #3f0c1f;
	border:2px solid #3f0c1f;
	padding-top: 4px;
	margin-top: 4px;

}

@media(min-width: 1200px){
	.jumbotron{
		background:url('image/jumbotron_1200.png') no-repeat;
		height: 675px;
		margin-bottom:0px;
		width: 100%;
	}

}
@media(max-width: 767px){
	.jumbotron{
		background:url('image/jumbotron_768.png') no-repeat;
		height: 430px;
		width: 100%;
	}
	div #menu,div #specials{
		width: 250px!important;
		margin:0 auto 15px!important;
		
	}
	.col-vm-2{
		 -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
	}

}
@media(min-width:768px ) and (max-width: 1199px){
	.jumbotron{
		background:url('image/jumbotron_992.jpg') no-repeat;
		height: 560px;
		width: 100%;
		}
		h1{
			margin-right: 0px;
		}

}

#num{
	background-color: #f6b319;
	border-radius: 4px;
	border:2px solid whitesmoke;


}
.cont{
	
	margin-top: auto;
	margin-bottom: auto;
	
}
.Trump{
	float: left;
	align-items: center;
	padding: 40px 0px 0px 0px;
	
}

.nav-item{
	align-items: center;
}
#home{
	text-align: center;

}
#menu, #specials, #map {
  height: 225px;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  
}
#menu{
	background: url('image/menu.png') no-repeat;
	height: 225px;
	width: 100%;
	background-position: center;
}
@media(min-width: 420px) and (max-width: 575px){
	#menu,#specials{
		width: 350px;
		margin:0 auto 15px;
		
	}
}
#specials{
	background: url('image/samosa.jpg') no-repeat;
	height: 225px;
	width: 100%;
	background-position: center;
}
#menu span,#specials span,#map span{
	position: absolute;
	bottom:0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	color:white;
	opacity: 0.6;
	border:1px solid black;
	background-color: black;
	

}

#numb{
	margin-left: 2%!important;
}
.small:hover,.small:active{
	color:gray;
	background-color: white;
}

@media(min-width:992px) and (max-width: 1199px){
    body{
    	font-size: 13px;
    }
    h1{
    	font-size: 1.6em;
    	margin-right: 10px;
    }
}
#menu-cat span{
	position: absolute;
	bottom:0;
	right: 0;
	width: 200px;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	color:white;
	opacity: 0.6;
	border:1px solid black;
	background-color: black;
	margin:0px;
}
#menu-cat{
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
	border:2px solid #3F0C1F;
	margin:0 auto 15px;
}
@media(max-width: 462px){
	.col-vvs-1{
		 -ms-flex: 0 0 100%;
         flex: 0 0 100%;
         max-width: 100%;
	}
}
.men div{
	text-align: center;
	color:white;
}
.menn{
	font-size: 1.4em;

}